rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function userConfig() {
      return request.auth != null &&
      	get(/databases/$(database)/documents/userPermissions/$(request.auth.uid)).data;
    }

		match /userProfiles/{userId}/{document=**} {
    	allow read: if request.auth != null;
      allow write: if request.auth.uid == userId || userConfig().admin == true;
    }

    match /userPermissions/{userId}/{document=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}